a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{padding:0;border:0;outline:0;vertical-align:baseline;background:0 0;text-decoration:none}form,textarea,input,button{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0}dl,ul{list-style-position:inside;font-weight:400;list-style:none}ul li{list-style:none}caption,th{text-align:center}img{border:none;position:relative}a,a:visited{text-decoration:none}.clearfix{clear:both}.section,.widget,.widget ul{margin:0;padding:0}a{color:#171717}a:hover{color:#ea4c89}a img{border:0}abbr{text-decoration:none}.CSS_LIGHTBOX{z-index:999999!important}.separator a{clear:none!important;float:none!important;margin-left:0!important;margin-right:0!important}#navbar-iframe,.widget-item-control,a.quickedit,.home-link,.feed-links{display:none!important}.center{display:table;margin:0 auto;position:relative}.widget > h2,.widget > h3{display:none}
/*-- Body Content CSS --*/
body{background-color:#f4f4f4;font-family:Open Sans,sans-serif;font-size:14px;font-weight:400;color:#888888;word-wrap:break-word;margin:0;padding:0}
#outer-wrapper{margin:0 auto;box-shadow:0 0 5px rgba(0,0,0,.1)}
.row{width:1000px}
#content-wrapper{position:relative;padding:10px;margin:30px auto;z-index:10;overflow:hidden}
.index #content-wrapper > .container{margin:0 -15px}
.item #content-wrapper > .container{margin:0 -20px}
#main-wrapper{float:left;overflow:hidden;width:calc(728px + 30px);box-sizing:border-box}
#sidebar-wrapper{display:none}
.index #main-wrapper{width:100%}
.item #main-wrapper{float:none;margin:0 auto;padding:0 15px 5px}
.post-image-wrap{position:relative;display:block}
.post-image-link,.about-author .avatar-container,.comments .avatar-image-container{background-color:#f9f9f9;color:transparent!important}
.post-thumb{display:block;position:relative;width:100%;height:100%;object-fit:cover;z-index:1;transition:opacity .17s ease}
.social a:before{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400}
.social .facebook a:before{content:"\f230"}
.social .facebook-f a:before{content:"\f09a"}
.social .twitter a:before{content:"\f099"}
.social .gplus a:before{content:"\f0d5"}
.social .rss a:before{content:"\f09e"}
.social .youtube a:before{content:"\f16a"}
.social .skype a:before{content:"\f17e"}
.social .stumbleupon a:before{content:"\f1a4"}
.social .tumblr a:before{content:"\f173"}
.social .vk a:before{content:"\f189"}
.social .stack-overflow a:before{content:"\f16c"}
.social .github a:before{content:"\f09b"}
.social .linkedin a:before{content:"\f0e1"}
.social .dribbble a:before{content:"\f17d"}
.social .soundcloud a:before{content:"\f1be"}
.social .behance a:before{content:"\f1b4"}
.social .digg a:before{content:"\f1a6"}
.social .instagram a:before{content:"\f16d"}
.social .pinterest a:before{content:"\f0d2"}
.social .pinterest-p a:before{content:"\f231"}
.social .twitch a:before{content:"\f1e8"}
.social .delicious a:before{content:"\f1a5"}
.social .codepen a:before{content:"\f1cb"}
.social .reddit a:before{content:"\f1a1"}
.social .whatsapp a:before{content:"\f232"}
.social .snapchat a:before{content:"\f2ac"}
.social .email a:before{content:"\f0e0"}
.social .external-link a:before{content:"\f14c"}
.social-color .facebook a,.social-color .facebook-f a{background-color:#3b5999}
.social-color .twitter a{background-color:#00acee}
.social-color .gplus a{background-color:#db4a39}
.social-color .youtube a{background-color:#db4a39}
.social-color .instagram a{background:linear-gradient(15deg,#ffb13d,#dd277b,#4d5ed4)}
.social-color .pinterest a,.social-color .pinterest-p a{background-color:#ca2127}
.social-color .dribbble a{background-color:#ea4c89}
.social-color .linkedin a{background-color:#0077b5}
.social-color .tumblr a{background-color:#365069}
.social-color .twitch a{background-color:#6441a5}
.social-color .rss a{background-color:#ffc200}
.social-color .skype a{background-color:#00aff0}
.social-color .stumbleupon a{background-color:#eb4823}
.social-color .vk a{background-color:#4a76a8}
.social-color .stack-overflow a{background-color:#f48024}
.social-color .github a{background-color:#24292e}
.social-color .soundcloud a{background:linear-gradient(#ff7400,#ff3400)}
.social-color .behance a{background-color:#191919}
.social-color .digg a{background-color:#1b1a19}
.social-color .delicious a{background-color:#0076e8}
.social-color .codepen a{background-color:#000}
.social-color .reddit a{background-color:#ff4500}
.social-color .whatsapp a{background-color:#3fbb50}
.social-color .snapchat a{background-color:#ffe700}
.social-color .email a{background-color:#888}
.social-color .external-link a{background-color:#ea4c89}
.social-text .facebook a:after,.social-text .facebook-f a:after{content:"Facebook"}
.social-text .twitter a:after{content:"Twitter"}
#header-wrap{position:relative;width:100%;height:56px;background-color:#171717;z-index:1010;box-shadow:0 1px 4px 0 rgba(0,0,0,0.1)}
#header-wrap .container{position:relative;margin:0 auto}
.header-logo{float:left;margin:0 20px 0 0}
.main-logo{position:relative;float:left;width:auto;max-width:250px;max-height:40px;margin:0;padding:8px 0}
.main-logo .header-image-wrapper{display:block}
.main-logo img{max-width:100%;max-height:40px;margin:0}
.main-logo h1{color:#fff;font-size:20px;line-height:1.4em;margin:0}
.main-logo p{font-size:12px;margin:5px 0 0}
.header-menu{float:left}
#main-menu .widget,#main-menu .widget > h3{display:none}
#main-menu .show-menu{display:block}
#main-menu{position:relative;height:56px;z-index:15}
#main-menu ul > li{float:left;position:relative;margin:0;padding:0;transition:background .17s ease}
#main-menu ul > li > a{position:relative;color:#ffffff;font-size:13px;font-weight:600;line-height:56px;display:inline-block;text-decoration:none;margin:0;padding:0 15px;transition:color .17s ease}
#main-menu ul#main-menu-nav > li:hover > a{color:#ea4c89}
#main-menu ul > li > ul{position:absolute;float:left;left:0;top:56px;width:180px;background-color:#fff;z-index:99999;margin-top:0;padding:5px 0;border:0;box-shadow:0 2px 2px rgba(0,0,0,0.2);visibility:hidden;opacity:0}
#main-menu ul > li > ul > li:hover > a{color:#ea4c89}
#main-menu ul > li > ul > li > ul{position:absolute;float:left;top:0;left:100%;margin-left:0;border:0}
#main-menu ul > li > ul > li{display:block;float:none;position:relative;transition:background .17s ease}
#main-menu ul > li > ul > li a{display:block;height:34px;font-size:12px;color:#171717;font-weight:600;line-height:34px;box-sizing:border-box;margin:0;padding:0 15px;transition:color .17s ease}
#main-menu ul > li > ul > li:last-child a{border-bottom:0}
#main-menu ul > li.has-sub > a:after{content:'\f0d7';float:right;font-family:FontAwesome;font-size:12px;font-weight:400;margin:-1px 0 0 6px}
#main-menu ul > li > ul > li.has-sub > a:after{content:'\f0da';float:right;margin:0}
#main-menu ul > li:hover > ul,#main-menu ul > li > ul > li:hover > ul{visibility:visible;opacity:1}
#main-menu ul ul{transition:all .17s ease}
.show-search,.hide-search{position:absolute;top:8px;right:0;display:block;width:40px;height:40px;line-height:40px;z-index:20;color:#ffffff;font-size:14px;font-weight:400;text-align:right;cursor:pointer;transition:color .17s ease}
.show-search:hover,.hide-search:hover{color:#ea4c89}
.show-search:before{content:"\f002";font-family:FontAwesome}
.hide-search:before{content:"\f00d";font-family:FontAwesome}
#nav-search{display:none;position:absolute;left:0;top:0;width:100%;height:56px;z-index:99;background-color:#171717;box-sizing:border-box;padding:0}
#nav-search .search-form{width:100%;height:56px;background-color:rgba(0,0,0,0);line-height:56px;overflow:hidden;padding:0}
#nav-search .search-input{width:100%;height:56px;font-family:inherit;color:#ffffff;margin:0;padding:0 50px 0 0;background-color:rgba(0,0,0,0);font-size:13px;font-weight:400;box-sizing:border-box;border:0}
#nav-search .search-input:focus{color:#ffffff;outline:none}
.mobile-menu-toggle{display:none;position:absolute;top:8px;left:0;width:40px;height:40px;line-height:40px;z-index:20;color:#ffffff;font-size:17px;font-weight:400;text-align:left;cursor:pointer;transition:color .17s ease}
.mobile-menu-toggle:hover{color:#ea4c89}
.mobile-menu-toggle:before{content:"\f0c9";font-family:FontAwesome}
.nav-active .mobile-menu-toggle:before{content:"\f00d";font-family:FontAwesome}
.overlay{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:990;background:rgba(255,255,255,0.8)}
.mobile-menu-wrap{display:none;position:absolute;top:56px;left:0;width:100%;background-color:#171717;box-sizing:border-box;visibility:hidden;z-index:1000;opacity:0;transition:all .17s ease}
.nav-active .mobile-menu-wrap{visibility:visible;opacity:1}
.mobile-menu{position:relative;overflow:hidden;padding:20px;border-top:1px solid rgba(255,255,255,0.03)}
.mobile-menu > ul{margin:0}
.mobile-menu .m-sub{display:none;padding:0}
.mobile-menu ul li{position:relative;display:block;overflow:hidden;float:left;width:100%;font-size:12px;line-height:38px}
.mobile-menu > ul > li{font-weight:700}
.mobile-menu > ul li ul{overflow:hidden}
.mobile-menu ul li a{color:#ffffff;padding:0;display:block;transition:all .17s ease}
.mobile-menu > ul > li > a{text-transform:uppercase}
.mobile-menu ul li.has-sub .submenu-toggle{position:absolute;top:0;right:0;color:#ffffff;cursor:pointer}
.mobile-menu ul li.has-sub .submenu-toggle:after{content:'\f0da';font-family:FontAwesome;font-weight:400;float:right;width:34px;font-size:16px;text-align:center;transition:all .17s ease}
.mobile-menu ul li.has-sub.show > .submenu-toggle:after{transform:rotate(90deg)}
.mobile-menu > ul > li > ul > li > a{color:#ffffff;opacity:.7;padding:0 0 0 15px}
.mobile-menu > ul > li > ul > li > ul > li > a{color:#ffffff;opacity:.7;padding:0 0 0 30px}
.blur-wrap{position:absolute;top:0;left:0;width:100%;height:380px;overflow:hidden;z-index:1;margin:0;box-shadow:0 0 5px 0 rgba(0,0,0,0.1)}
.blur-inner{position:absolute;top:0;left:0;right:0;bottom:0;background-color:#171717;background-size:cover;background-position:center;background-repeat:no-repeat;filter:blur(10px);margin:-20px}
.blur-inner:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.2)}
#home-ad-top .widget > h3{display:none}
#home-ad-top .widget{position:relative;padding:0 20px}
#home-ad-top .widget-content{position:relative;width:728px;max-width:100%;max-height:90px;line-height:1;margin:40px auto 0}
.main .widget{position:relative}
.queryMessage{overflow:hidden;background-color:#fff;color:#171717;font-size:13px;font-weight:400;padding:8px 10px;margin:0 15px 30px;border-radius:3px;box-shadow:0 0 5px 0 rgba(0,0,0,0.05)}
.queryMessage .query-info{margin:0 5px}
.queryMessage .search-query,.queryMessage .search-label{font-weight:700;text-transform:uppercase}
.queryMessage .search-query:before,.queryMessage .search-label:before{content:"\201c"}
.queryMessage .search-query:after,.queryMessage .search-label:after{content:"\201d"}
.queryMessage a.show-more{float:right;color:#ea4c89}
.queryMessage a.show-more:hover{text-decoration:underline}
.queryEmpty{font-size:13px;font-weight:400;padding:10px 0;margin:0 0 25px;text-align:center}
.index-post-wrap{display:flex;flex-wrap:wrap}
.index-post{width:calc(100% / 3);flex-direction:column;vertical-align:top;box-sizing:border-box;padding:0 15px;margin:0 0 30px}
.index-post .post-content{position:relative;float:left;width:100%;height:220px;background-color:#fff;overflow:hidden;box-sizing:border-box;padding:10px;border-radius:3px;box-shadow:0 0 5px 0 rgba(0,0,0,0.05)}
.index-post .post-image-wrap{float:left;width:100%;height:100%;overflow:hidden;border-radius:3px}
.index-post .post-image-wrap .post-image-link{width:100%;height:100%;position:relative;display:block;z-index:1;overflow:hidden}
.post-tag{position:relative;display:inline-block;height:20px;background-color:rgba(0,0,0,0.5);color:#fff;font-size:10px;font-weight:600;line-height:20px;text-transform:uppercase;padding:0 7px;border-radius:2px}
.index-post .post-info{display:block;position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(255,255,255,0.95);z-index:5;padding:20px;opacity:0;transition:opacity .17s ease}
.index-post .post-image-wrap:hover .post-info{opacity:1}
.index-post .post-info-inner{position:relative;float:left;overflow:hidden;width:100%;height:100%}
.index-post .post-info h2.post-title{font-size:14px;color:#171717;font-weight:600;line-height:1.6em;margin:0 0 10px}
.index-post .post-info .post-date{display:block;font-size:11px;color:#aaa;font-style:italic;padding:0 1px;margin:0 0 7px}
.index-post .post-info .post-date:before{content:'\f017';font-family:FontAwesome;font-size:12px;font-style:normal;margin:0 4px 0 0}
.widget iframe,.widget img{max-width:100%}
.post-snippet{position:relative;display:block;overflow:hidden;font-size:12px;color:#888;line-height:1.6em;font-weight:400;margin:10px 0 0}
a.read-more{position:relative;display:inline-block;background-color:#171717;height:28px;color:#fff;font-size:11px;font-weight:700;line-height:28px;text-transform:uppercase;padding:0 15px;margin:15px 0 0;border-radius:28px;transition:background .17s}
a.read-more:hover{background-color:#ea4c89}
.item-post h1.post-title{font-size:25px;color:#fff;line-height:1.5em;font-weight:700;position:relative;display:block;margin:10px 0 15px}
.post-meta{color:#f2f2f2;font-size:13px;font-weight:400;font-style:italic;padding:0 1px}
.post-meta .post-author,.post-meta .post-date{display:inline-block;margin:0 10px 0 0}
.post-meta .post-author .meta-avatar{float:left;height:20px;width:20px;overflow:hidden;margin:0 7px 0 0;border-radius:100%;box-shadow:0 0 3px rgba(0,0,0,0.1)}
.post-meta .post-author .meta-avatar img{display:block;width:100%;height:100%;border-radius:100%}
.post-meta a{color:#f2f2f2;transition:color .17s ease}
.post-meta a:hover{color:#ea4c89}
.post-meta .post-date:before{content:'\f017';font-family:FontAwesome;font-size:12px;font-style:normal;margin:0 4px 0 0}
.item-post .post-content{display:block;overflow:hidden;background-color:#fff;margin:20px 0 0;border-radius:3px;box-shadow:0 0 5px 0 rgba(0,0,0,0.05)}
.item-post .post-body{display:block;font-size:14px;line-height:1.6em;padding:25px}
.item-post .post-outer{padding:0}
.item-post .post-body img{max-width:100%}
.post-footer{position:relative;float:left;width:100%;margin:25px 0 0}
.inline-ad{position:relative;display:block;max-height:60px;margin:0 0 30px}
.inline-ad > ins{display:block!important;margin:0 auto!important}
.item .inline-ad{float:left;width:100%;margin:30px 0 0}
.item-post-wrap > .inline-ad{margin:0 0 30px}
.post-labels{position:relative;overflow:hidden;padding:0 25px;margin:0 0 25px}
.post-labels span,.post-labels a{float:left;color:#ea4c89;font-size:13px;font-weight:600}
.post-labels span{color:#171717}
.post-labels a{margin:0 0 0 5px;transition:all .17s ease}
.post-labels .Label:after{content:','}
.post-labels .Label:last-child:after{display:none}
.post-labels a:hover{text-decoration:underline}
.post-share{position:relative;overflow:hidden;background-color:#fbfbfb;padding:15px 25px;margin:0;border-top:1px solid #f2f2f2}
ul.share-links{position:relative}
.share-links li{float:left;box-sizing:border-box;margin:0 5px 0 0}
.share-links li.whatsapp-mobile{display:none}
.is-mobile li.whatsapp-desktop{display:none}
.is-mobile li.whatsapp-mobile{display:inline-block}
.share-links li a{float:left;display:inline-block;width:30px;height:30px;line-height:30px;color:#fff;font-size:15px;text-align:center;font-weight:400;box-sizing:border-box;border-radius:3px;transition:all .17s ease}
.share-links li a:after{display:none;font-size:13px;font-weight:600;margin:0 0 0 5px}
.share-links .facebook-f a,.share-links .twitter a{width:auto;padding:0 10px}
.share-links .facebook-f a:after,.share-links .twitter a:after{display:inline-block}
.share-links li a:hover{opacity:.8}
.about-author{position:relative;display:block;overflow:hidden;background-color:#fff;padding:25px;margin:0 0 25px;border-radius:3px;box-shadow:0 0 5px 0 rgba(0,0,0,0.05)}
.about-author .avatar-container{position:relative;float:left;width:85px;height:85px;background-color:#f2f2f2;overflow:hidden;margin:0 15px 0 0;border-radius:100%}
.about-author .author-avatar{float:left;width:100%;height:100%;border-radius:100%}
.author-name{overflow:hidden;display:inline-block;font-size:16px;font-weight:600;margin:3px 0}
.author-name span{color:#171717}
.author-name a{color:#ea4c89}
.author-name a:hover{text-decoration:underline}
.author-description{display:block;overflow:hidden;font-size:13px;line-height:1.6em}
.author-description a{color:#171717;transition:color .17s ease}
.author-description a:hover{color:#ea4c89}
#related-wrap{float:left;width:100%;margin:0 0 25px}
#related-wrap .related-tag{display:none}
.related-title h3{color:#888;font-size:13px;text-transform:uppercase;font-weight:600;margin:0 0 15px}
.related-ready{float:left;width:100%}
.related-ready .loader{height:178px}
ul.related-posts{position:relative;overflow:hidden;margin:0 -10px;padding:0}
.related-posts .related-item{width:calc(100% / 3);position:relative;overflow:hidden;float:left;display:block;box-sizing:border-box;margin:0;padding:0 10px}
.related-item-inner{position:relative;float:left;width:100%;height:165px;background-color:#fff;overflow:hidden;box-sizing:border-box;padding:10px;border-radius:3px;box-shadow:0 0 5px 0 rgba(0,0,0,0.05)}
.related-posts .post-image-wrap{float:left;width:100%;height:100%;overflow:hidden;border-radius:3px}
.related-posts .post-image-wrap .post-image-link{width:100%;height:100%;position:relative;display:block;z-index:1;overflow:hidden}
.related-posts .post-info{display:block;position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(255,255,255,0.95);z-index:5;padding:20px;opacity:0;transition:opacity .17s ease}
.related-posts .post-image-wrap:hover .post-info{opacity:1}
.related-posts .post-info-inner{position:relative;float:left;overflow:hidden;width:100%;height:100%}
.related-posts .post-info h2.post-title{font-size:14px;color:#171717;font-weight:600;line-height:1.6em;margin:0 0 10px}
.related-posts .post-info .post-date{display:block;font-size:11px;color:#aaa;font-style:italic;padding:0 1px;margin:0 0 7px}
.related-posts .post-info .post-date:before{content:'\f017';font-family:FontAwesome;font-size:12px;font-style:normal;margin:0 4px 0 0}
ul.post-nav{position:relative;overflow:hidden;display:block;padding:0;margin:0 0 25px}
.post-nav li{display:inline-block;width:50%}
.post-nav .post-prev{float:left;text-align:left;box-sizing:border-box;padding:0 10px}
.post-nav .post-next{float:right;text-align:right;box-sizing:border-box;padding:0 10px}
.post-nav li a{color:#aaa;line-height:1.4em;display:block;overflow:hidden;transition:color .17s ease}
.post-nav li:hover a{color:#ea4c89}
.post-nav li span{display:block;font-size:11px;color:#aaa;font-weight:600;text-transform:uppercase;padding:0 0 2px}
.post-nav .post-prev span:before{content:"\f053";float:left;font-family:FontAwesome;font-size:8px;font-weight:400;text-transform:none;margin:1px 2px 0 0}
.post-nav .post-next span:after{content:"\f054";float:right;font-family:FontAwesome;font-size:8px;font-weight:400;text-transform:none;margin:1px 0 0 2px}
.post-nav p{font-size:13px;font-weight:400;line-height:1.4em;margin:0}
.post-nav .post-nav-active{opacity:.5}
.post-nav .post-nav-active p{color:#aaa}
#blog-pager{display:block;overflow:hidden;clear:both;text-align:center;padding:0 15px;margin:20px 0 10px}
.blog-pager a{display:inline-block;height:36px;background-color:#ea4c89;font-size:14px;color:#fff;font-weight:600;line-height:36px;padding:0 40px;border-radius:3px;transition:background .17s ease}
.blog-pager a:hover{background-color:#171717}
.blog-pager .blog-pager-newer-link{display:none}
.blog-post-comments{display:none}
.static_page .blog-post-comments{margin:25px 0 0}
h3.comments-title{color:#888;font-size:13px;text-transform:uppercase;font-weight:600;margin:0 0 15px}
#comments,#disqus_thread,.blog-post-comments .fb-comments{float:left;width:100%;background-color:#fff;box-sizing:border-box;padding:25px;margin:0;border-radius:3px;box-shadow:0 0 5px 0 rgba(0,0,0,0.05)}
#disqus_thread,.blog-post-comments .fb-comments{padding:10px 25px}
#gpluscomments{float:left!important;width:100%!important;margin:0 0 25px!important}
#gpluscomments iframe{float:left!important;width:100%}
.comments{display:block;clear:both;margin:0}
.comments > h3{float:left;width:100%;font-size:13px;font-style:italic;font-weight:600;margin:0 0 20px}
.comments > h3.no-comments{margin:0 0 15px}
.comments .comments-content{float:left;width:100%;margin:0}
#comments h4#comment-post-message{display:none}
.comments .comment-block{padding:0 0 0 55px}
.comments .comment-content{font-size:13px;line-height:1.6em;margin:10px 0}
.comment-thread .comment{position:relative;padding:15px 0 0;margin:15px 0 0;list-style:none;border-top:1px solid #f2f2f2}
.comment-thread ol{padding:0;margin:0 0 15px}
.comment-thread ol > li:first-child{padding:0;margin:0;border:0}
.comment-thread .avatar-image-container{position:absolute;top:15px;left:0;width:40px;height:40px;border-radius:100%;overflow:hidden}
.comment-thread ol > li:first-child > .avatar-image-container{top:0}
.avatar-image-container img{width:100%;height:100%}
.comments .comment-header .user{font-size:14px;color:#171717;display:inline-block;font-style:normal;font-weight:700;margin:0}
.comments .comment-header .user a{color:#171717}
.comments .comment-header .icon.user{display:none}
.comments .comment-header .icon.blog-author{display:inline-block;font-size:12px;color:#ea4c89;font-weight:400;vertical-align:top;margin:0 0 0 5px}
.comments .comment-header .icon.blog-author:before{content:'\f058';font-family:FontAwesome}
.comments .comment-header .datetime{display:inline-block;margin:0 0 0 5px}
.comment-header .datetime a{font-size:12px;color:#aaa;font-style:italic}
.comment-header .datetime a:before{content:'.';font-size:15px;line-height:15px;vertical-align:top;margin:0 5px 0 2px}
.comments .comment-actions{display:block;margin:0 0 15px}
.comments .comment-actions a{color:#aaa;font-size:11px;margin:0 15px 0 0;transition:color .17s ease}
.comments .comment-actions a:hover{color:#ea4c89}
.loadmore.loaded a{display:inline-block;border-bottom:1px solid rgba(0,0,0,0.1);text-decoration:none;margin-top:15px}
.comments .continue{display:none!important}
.comments .comment-replies{padding:0 0 0 55px}
.thread-expanded .thread-count a,.loadmore{display:none}
.comments .footer,.comments .comment-footer{font-size:13px}
iframe.blogger-iframe-colorize,iframe.blogger-comment-from-post{height:253px!important}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{color:#171717;margin:0 0 15px}
.post-body h1,.post-body h2{font-size:24px}
.post-body h3{font-size:21px}
.post-body h4{font-size:18px}
.post-body h5{font-size:16px}
.post-body h6{font-size:13px}
blockquote{background-color:#f9f9f9;font-style:italic;padding:10px 20px;margin:0;border-left:4px solid #ea4c89}
blockquote:before,blockquote:after{display:inline-block;font-family:FontAwesome;font-weight:400;font-style:normal;line-height:1}
blockquote:before{content:'\f10d';margin:0 10px 0 0}
blockquote:after{content:'\f10e';margin:0 0 0 10px}
.widget .post-body ul,.widget .post-body ol{line-height:1.5;font-weight:400}
.widget .post-body li{margin:5px 0;padding:0;line-height:1.5}
.post-body ul{padding:0 0 0 20px}
.post-body ul li:before{content:"\f105";font-family:FontAwesome;font-size:13px;font-weight:900;margin:0 5px 0 0}
.post-body u{text-decoration:underline}
.post-body a{transition:color .17s ease}
.post-body strike{text-decoration:line-through}
#home-ad-footer .widget > h3{display:none}
#home-ad-footer .widget{position:relative;padding:0 20px}
#home-ad-footer .widget-content{position:relative;width:728px;max-width:100%;max-height:90px;line-height:1;margin:0 auto 40px}
#footer-wrapper{background-color:#171717}
#footer-wrapper .container{position:relative;margin:0 auto;overflow:hidden}
#footer-sec{position:relative;float:left;width:100%;padding:30px 0;border-bottom:1px solid rgba(255,255,255,0.05)}
.footer-sec.no-items{display:none}
#footer-sec .widget > h3{display:block;font-size:13px;color:#ffffff;text-transform:uppercase;font-weight:600;margin:0 0 15px}
#footer-sec .Label{float:left;max-width:calc(100% / 3 * 2)}
#footer-sec .LinkList{float:right;max-width:calc(100% / 3)}
.label-list li{display:inline-block}
.label-list li a{display:block;background-color:rgba(255,255,255,0.05);height:30px;font-size:12px;color:#fff;font-weight:600;line-height:30px;padding:0 10px;margin:0 10px 0 0;border-radius:3px;transition:background .17s ease}
.label-list li a:hover{background-color:#ea4c89}
.social-footer li{display:inline-block}
.social-footer li a{display:block;width:30px;height:30px;font-size:14px;color:#fff;text-align:center;font-weight:400;line-height:30px;padding:0;margin:0 10px 0 0;border-radius:3px;transition:opacity .17s ease}
.social-footer li:last-child a{margin:0}
.social-footer li a:hover{opacity:.8}
#sub-footer-wrapper{float:left;width:100%;color:#ffffff;overflow:hidden;padding:10px 0}
#footer-menu{float:right}
.footer-menu li{display:inline-block;height:34px;padding:0;margin:0 5px}
.footer-menu li:last-child{margin:0 0 0 5px}
.footer-menu li a{display:block;font-size:12px;color:#ffffff;font-weight:400;line-height:34px;padding:0 5px;transition:color .17s ease}
.footer-menu li a:hover{color:#ea4c89}
#sub-footer-wrapper .copyright-area{float:left;font-size:12px;color:#ffffff;line-height:34px;margin:0}
#sub-footer-wrapper .copyright-area a{color:#ea4c89}
#sub-footer-wrapper .copyright-area a:hover{text-decoration:underline}
.hidden-widgets{display:none;visibility:hidden}
.back-top{display:none;z-index:1010;width:32px;height:32px;position:fixed;bottom:25px;right:25px;background-color:#ea4c89;cursor:pointer;overflow:hidden;font-size:19px;color:#fff;text-align:center;line-height:32px;border-radius:3px}
.back-top:after{content:'\f106';position:relative;font-family:FontAwesome;font-weight:400}
.error404 #main-wrapper{width:100%!important;margin:0!important}
.error404 #sidebar-wrapper{display:none}
.errorWrap{color:#171717;text-align:center;padding:180px 0}
.errorWrap h3{font-size:160px;line-height:1;margin:0 0 30px}
.errorWrap h4{font-size:25px;margin:0 0 20px}
.errorWrap p{margin:0 0 10px}
.errorWrap a{display:block;color:#ea4c89;padding:10px 0 0}
.errorWrap a i{font-size:14px}
.errorWrap a:hover{text-decoration:underline}
@media (max-width: 1100px) {
.row{width:100%}
#header-wrap,#footer-wrapper{box-sizing:border-box;padding:0 20px}
#content-wrapper{position:relative;box-sizing:border-box;padding:0 20px}
.errorWrap{padding:130px 0}
}
@media (max-width: 980px) {
.header-logo,.main-logo{width:100%;max-width:100%;text-align:center;margin:0}
.header-menu{display:none}
.mobile-menu-wrap,.mobile-menu-toggle{display:block}
.show-search,.hide-search{background-color:#171717;font-size:17px;text-align:right}
#nav-search{left:-2px;width:calc(100% + 4px)}
#content-wrapper > .container,.item #content-wrapper > .container{margin:0}
#main-wrapper{width:100%;padding:0!important}
}
@media (max-width: 880px) {
.index-post{width:50%}
#footer-sec .widget{width:100%;max-width:100%}
#footer-sec .widget:nth-child(2){margin:25px 0 0}
.label-list li a{margin:0 5px 5px 0}
.social-footer li a{margin:0 5px 0 0}
.errorWrap{padding:60px 0}
}
@media (max-width: 680px) {
#sub-footer-wrapper .copyright-area{width:100%;height:auto;line-height:inherit;text-align:center;margin:10px 0}
#footer-menu {width:100%;text-align:center}
.comment-form{margin:0}
}
@media (max-width: 540px) {
.index-post{width:100%}
.share-links li a.twitter{width:30px;padding:0}
.share-links li a.twitter:after{display:none!important}
#related-wrap,ul.related-posts{margin:0}
.related-posts .related-item{width:100%;padding:0;margin:0 0 25px}
.related-item-inner{height:180px}
.related-posts .post-title{font-size:17px}
.inline-ad,.inline-ad > ins{height:auto;min-height:1px;max-height:250px}
}
@media (max-width: 440px) {
.queryMessage{text-align:center}
.queryMessage a.show-more{width:100%;margin:10px 0 0}
.item-post h1.post-title{font-size:23px}
.share-links li a.facebook{width:30px;padding:0}
.share-links li a.facebook:after{display:none!important}
.about-author{text-align:center}
.about-author .avatar-container{float:none;display:table;margin:0 auto 10px}
#comments ol{padding:0}
}
@media (max-width: 360px) {
.errorWrap h3{font-size:130px}
.index-post .post-content{height:200px}
.post-share{padding:10px}
.about-author .avatar-container{width:60px;height:60px}
iframe.blogger-iframe-colorize,iframe.blogger-comment-from-post{height:263px!important}
}
/*-------Typography and ShortCodes-------*/
.firstcharacter{float:left;color:#27ae60;font-size:75px;line-height:60px;padding-top:4px;padding-right:8px;padding-left:3px}.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{margin-bottom:15px;color:#2c3e50}blockquote{font-style:italic;color:#888;border-left:5px solid #27ae60;margin-left:0;padding:10px 15px}blockquote:before{content:'\f10d';display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-right:10px;color:#888}blockquote:after{content:'\f10e';display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-left:10px;color:#888}.button{background-color:#2c3e50;float:left;padding:5px 12px;margin:5px;color:#fff;text-align:center;border:0;cursor:pointer;border-radius:3px;display:block;text-decoration:none;font-weight:400;transition:all .3s ease-out !important;-webkit-transition:all .3s ease-out !important}a.button{color:#fff}.button:hover{background-color:#27ae60;color:#fff}.button.small{font-size:12px;padding:5px 12px}.button.medium{font-size:16px;padding:6px 15px}.button.large{font-size:18px;padding:8px 18px}.small-button{width:100%;overflow:hidden;clear:both}.medium-button{width:100%;overflow:hidden;clear:both}.large-button{width:100%;overflow:hidden;clear:both}.demo:before{content:"\f06e";margin-right:5px;display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.download:before{content:"\f019";margin-right:5px;display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.buy:before{content:"\f09d";margin-right:5px;display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.visit:before{content:"\f14c";margin-right:5px;display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.widget .post-body ul,.widget .post-body ol{line-height:1.5;font-weight:400}.widget .post-body li{margin:5px 0;padding:0;line-height:1.5}.post-body ul li:before{content:"\f105";margin-right:5px;font-family:fontawesome}pre{font-family:Monaco, "Andale Mono", "Courier New", Courier, monospace;background-color:#2c3e50;background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);background-image:-moz-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);background-image:-ms-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);background-image:-o-linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);background-image:linear-gradient(rgba(0, 0, 0, 0.05) 50%, transparent 50%, transparent);-webkit-background-size:100% 50px;-moz-background-size:100% 50px;background-size:100% 50px;line-height:25px;color:#f1f1f1;position:relative;padding:0 7px;margin:15px 0 10px;overflow:hidden;word-wrap:normal;white-space:pre;position:relative}pre:before{content:'Code';display:block;background:#F7F7F7;margin-left:-7px;margin-right:-7px;color:#2c3e50;padding-left:7px;font-weight:400;font-size:14px}pre code,pre .line-number{display:block}pre .line-number a{color:#27ae60;opacity:0.6}pre .line-number span{display:block;float:left;clear:both;width:20px;text-align:center;margin-left:-7px;margin-right:7px}pre .line-number span:nth-child(odd){background-color:rgba(0, 0, 0, 0.11)}pre .line-number span:nth-child(even){background-color:rgba(255, 255, 255, 0.05)}pre .cl{display:block;clear:both}#contact{background-color:#fff;margin:30px 0 !important}#contact .contact-form-widget{max-width:100% !important}#contact .contact-form-name,#contact .contact-form-email,#contact .contact-form-email-message{background-color:#FFF;border:1px solid #eee;border-radius:3px;padding:10px;margin-bottom:10px !important;max-width:100% !important}#contact .contact-form-name{width:47.7%;height:50px}#contact .contact-form-email{width:49.7%;height:50px}#contact .contact-form-email-message{height:150px}#contact .contact-form-button-submit{max-width:100%;width:100%;z-index:0;margin:4px 0 0;padding:10px !important;text-align:center;cursor:pointer;background:#27ae60;border:0;height:auto;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;text-transform:uppercase;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out;color:#FFF}#contact .contact-form-button-submit:hover{background:#2c3e50}#contact .contact-form-email:focus,#contact .contact-form-name:focus,#contact .contact-form-email-message:focus{box-shadow:none !important}.alert-message{position:relative;display:block;background-color:#FAFAFA;padding:20px;margin:20px 0;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;color:#2f3239;border:1px solid}.alert-message p{margin:0 !important;padding:0;line-height:22px;font-size:13px;color:#2f3239}.alert-message span{font-size:14px !important}.alert-message i{font-size:16px;line-height:20px}.alert-message.success{background-color:#f1f9f7;border-color:#e0f1e9;color:#1d9d74}.alert-message.success a,.alert-message.success span{color:#1d9d74}.alert-message.alert{background-color:#DAEFFF;border-color:#8ED2FF;color:#378FFF}.alert-message.alert a,.alert-message.alert span{color:#378FFF}.alert-message.warning{background-color:#fcf8e3;border-color:#faebcc;color:#8a6d3b}.alert-message.warning a,.alert-message.warning span{color:#8a6d3b}.alert-message.error{background-color:#FFD7D2;border-color:#FF9494;color:#F55D5D}.alert-message.error a,.alert-message.error span{color:#F55D5D}.fa-check-circle:before{content:"\f058"}.fa-info-circle:before{content:"\f05a"}.fa-exclamation-triangle:before{content:"\f071"}.fa-exclamation-circle:before{content:"\f06a"}.post-table table{border-collapse:collapse;width:100%}.post-table th{background-color:#eee;font-weight:bold}.post-table th,.post-table td{border:0.125em solid #333;line-height:1.5;padding:0.75em;text-align:left}@media (max-width: 30em){.post-table thead tr{position:absolute;top:-9999em;left:-9999em}.post-table tr{border:0.125em solid #333;border-bottom:0}.post-table tr + tr{margin-top:1.5em}.post-table tr,.post-table td{display:block}.post-table td{border:none;border-bottom:0.125em solid #333;padding-left:50%}.post-table td:before{content:attr(data-label);display:inline-block;font-weight:bold;line-height:1.5;margin-left:-100%;width:100%}}@media (max-width: 20em){.post-table td{padding-left:0.75em}.post-table td:before{display:block;margin-bottom:0.75em;margin-left:0}}
.FollowByEmail {
    clear: both;
}
.widget .post-body ol {
    padding: 0 0 0 15px;
}
.post-body ul li {
    list-style: none;
}